#To make the TAS program work fill in the following fields:
#dbname= <<fill in the database name after the = and close with a '
#(important, sometimes in conversion this gets replaced by different sign and make it unable to create a database connection)
#user: <<fill in the username for the database
#password: <<fill in the password
#options: can be left alone, or used if needed. For further reference look at the Nette-documentation.
#For user and password just fill in the details, no things like '' or brackets needed.
#Save this file as config.local.neon in the config-folder of this Nette-installation.
#The Nette installation of TAS should now work as intended.
parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=' #databasename
	user: #database username
	password: #pasword
	options:
	 lazy: yes

mail:
	smtp: true  #use SmtpMailer instead of SendmailMailer
	#optional settings
	host: #your host like mail.example.com
	port: #port
	username: #username
	password: #password
	secure: ssl #possible values are ssl, tls or null
	#timeout: 30
