{block content}
<div class="box registerbox">
  <h1>Change user role</h1>
  {foreach $userUser as $u}
    <p>Id: {$u->userId} User: {$u->username}</p>
    <p>Current role: {$u->role}</p>
  {/foreach}
  {control editRoleForm}
</div>
{/block content}
